<h1>Trips Index</h1>
<ul>
  <% @trips.each do |t| %>

    <li><a href="/trips/<%= t.id %>"><%= t.name %></a></li>
  <% end %>
</ul>
<p><a href="/trips/new">New Trip</a></p>
<p><a href="/">Back Home</a></p>