<h1>New Trip</h1>

<form action="/trips" method="post">
  <div> 
    name your Trip:
    <input type="text" name="name" >
  </div>
  <div>
    Description of trip:
    <input type="text" name="description"> 
    </div> 
    <div>
    <input type= "submit" value="Make a new trip">
    
<p><a href="/trips">Back to Trips</a></p>