<h1> Your Entertainment </h1>

<p><%= @entertainment.name %></p>


<p><a href="/entertainment">Back to all entertainments</a></p>
<p><a href="/entertainment/<%= "Make a new entertainment event" %>/edit">Edit</a></p>