<h1>New Activity</h1>

<form action="/activities" method="post">
  <div> 
    Activity Name:
    <input type="text" name="name" >
  </div>
  <div>
    Cost of trip:
    <input type="test" name="cost"> 
    </div> 
    <div>
    <input type= "submit" value="Make a new activity">
    
<p><a href="/activities">Back to Activities</a></p>