<h1> Your Activity </h1>

<p><%= @activity.name %></p>
<p><%= @activity.cost%></p>


<p><a href="/activities">Back to all activities</a></p>
<p><a href="/activities/<%= "Make a new activity" %>/edit">Edit</a></p>