<h1>Travel Planner</h1>


<ul>
  <li><a href="/trips">Trips</a></li>
  <li><a href="/locations">Locations</a></li>
  <li><a href="/activities">Activities</a></li>
  <li><a href="/entertainment">Entertainment</a></li>

</ul>
