<h1>Edit Location</h1>

<form action="/locations/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Location Name:
    <input type="text" name="name" value="<%= @name %>">
  </div>
  <div>
   
  </div>
  <div>
    <input type="submit" value="Update Location">
   
</form>

<p><a href="/">Back Home</a></p>

