<h1>New Location</h1>

<form action="/locations" method="post">
  <div> 
    Location Name:
    <input type="text" name="name" >
  </div>
  <div>
    
  <input type= "submit" value="Make a new location">

    
<p><a href="/locations">Back to Locations</a></p>